@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-luxurious-script: "Luxurious Script", cursive;
  --font-libre-baskerville: "Libre Baskerville", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'the-seasons', sans-serif;
}

/* THE SEASONS font */

@font-face {
  font-family: 'the-seasons';
  src: url('/fonts/the-seasons/the-seasons.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
